.chat-wrapper {
  background: #0D0D0D;
  height: 100vh;
  width: 100vw;
  font-family: Rubik;
  font-weight: normal;
  font-style: normal;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 74px;
}